# Tracked environment variables: .envrc
# Local environment variables: .envrc.local
# Example values for project environment variables: .envrc.example

# Source the local config (if any)
source_env_if_exists .envrc.local
